body {
  background-color: white;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.span {
  background: rgb(20, 20, 20);
  background: linear-gradient(
    0deg,
    rgba(20, 20, 20, 0.6139705882352942) 6%,
    rgba(255, 255, 255, 0) 100%
  );
}

.enter-div:hover ul{
  opacity: 1;
  height: fit-content;
  
  
}
.enter-div:hover div{
  opacity: 1;
  height: fit-content;
  
  
}
.enter-div:active .div-modal{
  opacity: 1;
  height: fit-content;
  
  
}

.chevron{
  transition: all 500ms;
}

.chevron-parent:hover .chevron{
  transform: rotate(180deg);
  
}

.chevron-modal{
transition: all 500ms;
}

.chevron-parent-modal:focus .chevron-modal{
  transform: rotate(180deg);
  
}
.export{
  background-image:url('../public/img/bg.png') ;
}

@media screen and (min-width:900px) {
  .about-p{
    background-image:url('../public/img/images.jpeg');
    background-repeat: no-repeat;
    background-size: cover ;
  }
}
@media screen and (max-width:600px){
  .mySwiper{
    display: none;
  }
}

.learn-bg {
  background-image:url('../public/img/background2.jpg');
  background-repeat: no-repeat;
  background-size: cover ;
}
.filter-open:focus .filter {
  left: 0%;
}
.filter-close:focus .filter{
  left: -100%;
}
.paginationbttn{
  width: 80%;
  height: 40px;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 20px;
  overflow: hidden;
  font-size: 15px;
  
}
.paginationbttn a {
  padding: 8px;
  padding-left: 13px;
  padding-right: 13px;
  margin: 8px;
  background-color: #eee;
  border-radius: 100%;
}
.paginationbttn a:hover{
  background-color: rgb(57, 117, 220);
  color: white;
  transition-duration: .3s;
}
.activebttn a {
  background-color: rgb(57, 117, 220);
  color: white;
  transition-duration: .3s;
}
.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
 
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}





